@page
@model EFCore5WebApp.Pages.Reports.PeopleByStateModel

@{
    ViewData["Title"] = "PeopleByState";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>People By State</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                State
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.ReportData.First().People.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.ReportData.First().People.First().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.ReportData.First().People.First().EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.ReportData.First().People.First().CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.ReportData.First().People.First().Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model.ReportData)
        {
            <tr>
                <td colspan="6" style="background-color: #808080;  font-weight: bold;">@record.State</td>
            </tr>
            @foreach (var item in record.People.OrderBy(x => x.FirstName).ThenBy(x => x.LastName))
            {
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @item.CreatedOn.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
