@page
@using Microsoft.AspNetCore.Identity
@model EFCore5WebApp.Pages.Contacts.DetailsModel

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Age)
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Addresses.First().AddressLine1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Addresses.First().AddressLine2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Addresses.First().City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Addresses.First().State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Addresses.First().Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Addresses.First().ZipCode)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Person.Addresses)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressLine1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressLine2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipCode)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div>
    @if (Model.IsAdminUser)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Person.Id">Edit</a>
    }
    |<a asp-page="./Index">Back to List</a>
</div>
